header{
    display: flex;
    justify-content: space-between;
    background-color:#C9B254 ;
    border-bottom: 5px solid #242F40;
    padding: 10px 20px;
}
nav {
    text-align: right;
}
a {
    display: inline-flex;
    align-items: center;
    color:#242F40;
    font-size: 20px;
    font-family: 'Antonio', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 50px;

}
a::before {
    content: "";
    background-color: #7CA982;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#download-cv {
    display: inline-block;
    background-color: #7CA982;
    padding: 10px 16px;
    box-shadow: 5px 5px 0px #0A0A0A;
    transition: .3s;
    margin-right: 0;
   
}

#download-cv:hover {
    box-shadow: 5px -5px 0px #0A0A0A;

}