header {
    display: flex;
    justify-content: space-between;
    background-color: #D3C073;
    border-bottom: 5px solid #242F40;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #242F40;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 50px;

}

a::before {
    content: "";
    background-color: #7CA982;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    transition: .3s ease-in-out;
}

a:hover::before {
    background-color: #242F40;
}